* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #222
}

.main {
    display: block;
    max-width: 95%;
    margin: 30px auto;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
}

.section-title p {
    text-align: justify;
    margin-bottom: 15px;
}

.section-title h2 {
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.section-title h2::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #00875c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Increase checkbox size */
.dropdown-content input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 8px;
    /* Adjust margin as needed */
}

/* Apply green color when checkbox is checked */
.dropdown-content input[type="checkbox"]:checked+label {
    background-color: lightgreen;
}

.main2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: block;
    /* Initially hide the dropdown content */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    transition: display 0.3s ease;
    /* Add transition effect for smoother display */
}

.dropdown-content label:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.dropdown-content label {
    display: block;
    padding: 8px 12px;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
    /* Display the dropdown content on hover */
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.menus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-column {
    width: 23%;
    /* background-color: aliceblue; */
}

.single-menu {
    align-items: center;
    margin-bottom: 80px;
    position: relative;
}

.single-menu img {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

.ingredients-dropdown {
    width: fit-content;
    height: fit-content;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01);
    z-index: 3;
    top: 100%;
    left: 0;
    margin-top: 5px;
}

.ingredients-dropdown ul {
    list-style-type: none;
    padding: 5px;
}

.ingredients-dropdown ul li {
    padding: 5px;
}

.single-menu img:hover+.ingredients-dropdown,
.ingredients-dropdown:hover {
    display: block;
    /* Show on hover */
}

.menu-details {
    display: flex;
    float: right;
    width: 60%;
    flex-direction: column;
}

.menu-content {
    margin-bottom: 10px;
}

.availability {
    width: max-content;
    display: flex;
    align-items: center;
    /* Align items vertically center */
}

.availability button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    /* Add margin to separate buttons */
}

.availability input[type="number"] {
    width: 45px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    /* Add margin to separate input and buttons */
}