<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css/style.css">

</head> 
<body>
    <div class="topbar">
        
        <div class="logo">
            <img src="images/logo/logo.jpg" alt="">
        </div>
        <div class="heading">
            <h1>Welcome to UNT pantry</h1>
        </div>
      
        
    </div> 
    <div class="main">
        <div class="section-title">
            <h2>Menu</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, modi?</p>
        </div>
 
        <div class="main2">
            <div class="dropdown">
                <button class="dropbtn">Category</button>
                <div class="dropdown-content">
                    <label><input type="checkbox" value="Option 1"> Veg</label> 
                    <label><input type="checkbox" value="Option 2"> Non-Veg</label>
                    <label><input type="checkbox" value="Option 3"> Milk Products</label>
                </div>
            </div> 
            <div class="cart">
                <button class="dropbtn">Cart</button>
            </div>
        </div>

        <div class="return">
            <button class="dropbtn">return</button>
        </div>

        <div class="menus">
            <div class="menu-column">
                <h4>Section 1</h4>
                <h4> Select any twi items in the list</h4>
                <div class="single-menu">
                    <img src="images/apples.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Ingredient 1</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content"> 
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>

                <div class="single-menu">
                    <img src="images/blackbeans.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Ingredient 1</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="images/cabbage.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-column">
                <h4>Section 2</h4>
                <h4>Select any 1 item</h4>
                <div class="single-menu">
                    <img src="images/porkbeans.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="images/tuna.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="images/eggs.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-column">
                <h4>Section 3</h4>
                <h4>Select any 2 item</h4>
                <div class="single-menu">
                    <img src="images/porkbeans.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="images/tuna.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="images/eggs.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-column">
                <h4>Section 4</h4>
                <h4>Select any 1 item</h4>
                <div class="single-menu">
                    <img src="images/porkbeans.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="images/tuna.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="images/eggs.jpg" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Ingredient 2</li>
                            <li>Ingredient 3</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h5>Food Title</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="availability">
                            <button>Available: 10</button>
                            <input type="number" placeholder="Quantity">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
