<div class="main">
    <div class="section-title">
        <p>For many students, college isn’t just endless meal plans, late-night study sessions, and newfound freedom.
            Over 30% of college students are food insecure, 56% of food-insecure students are working, 75% of
            food-insecure students receive financial aid through their institutions, and 43% have a meal plan (College &
            University Food Bank Alliance). Indeed, food insecurity cuts across all demographic statuses, enrollment
            levels, and geographic locations. These stressors
            affect student success, impact learning, grades, and time to earn degrees. By addressing food insecurity, we
            also address educational needs.</p>
        <h2>Menu</h2>
    </div>

    <div class="main2">
        <div class="dropdown" (mouseenter)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)">
            <button class="dropbtn">SELECT CATEGORY</button>
            <div class="dropdown-content" *ngIf="isDropdownVisible">
                <label *ngFor="let category of categories">
                    <input type="checkbox" [value]="category.value" (change)="onCategorySelect($event)"
                        [checked]="selectedCategories.includes(category.value)"> {{ category.label }}
                </label>
            </div>
        </div>
        <div class="availability">
            <button style="font-size: 20px; margin-right: 30px;" (click)="addToCart()">Add to Cart</button>
        </div>
    </div>
    <br>
    <div class="menus">
        <div class="menu-column" *ngFor="let section of filteredMenuSections">
            <h5 style="text-align: center;">{{ section.title }} ( *{{ section.description }} )</h5>
            <br>
            <div *ngIf="countSelectedItems(section) > section.selectionLimit">
                <h6 style="color: red;">* Please select only {{ section.selectionLimit }} items from {{ section.title
                    }}.</h6>
            </div>
            <br>
            <div class="single-menu" *ngFor="let item of section.items">
                <div>
                    <img [src]="item.image" alt="">
                    <div class="ingredients-dropdown">
                        <ul>
                            <li *ngFor="let ingredient of item.ingredients">{{ ingredient }}</li>
                        </ul>
                    </div>
                    <div class="menu-details">
                        <div class="menu-content">
                            <h6>{{ item.name }}</h6>
                            <p>{{ item.calories }}</p>
                            <p>Type: {{ item.type }}</p>
                            <p>Exp: {{ item.exp }}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="availability">
                        <h5 style="color: #3e8e41;">Available: {{ item.availability }}</h5>
                        <button style="margin-left :30px ;" (click)="decrementQuantity(item)">-</button>
                        <input type="number" style="width: 55px;" [(ngModel)]="item.quantity" min="0">
                        <button (click)="incrementQuantity(item)">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
`